{% block subject %}This is long Subject{% endblock subject %} 

{% block html_body %}
<h1>Hello Welcome to Email Backend</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
  blanditiis incidunt suscipit quidem explicabo totam maiores nam vel similique
  neque iste voluptas a, dicta commodi quaerat libero vero modi. Culpa provident
  accusamus dicta sapiente libero praesentium eius repellendus delectus,
  necessitatibus impedit itaque! Suscipit natus earum qui deserunt delectus
  deleniti expedita culpa, necessitatibus, sit veritatis soluta cum inventore
  neque dignissimos, exercitationem nam laudantium voluptatibus asperiores
  officiis eum eveniet enim atque. Ex a amet nisi ipsam nobis, placeat vitae quo
  facilis fuga voluptate provident dolorem corrupti totam eos earum tempore
  ratione harum odio doloribus reiciendis qui omnis? Voluptatum at nihil
  dignissimos nesciunt.
</p>
{% endblock html_body %}
